---
title: Design Disruptors | Brisbane | 28 July 2016
---

%main.w-100.flex.flex-column.flex-auto
  = partial "partials/sections/fold"
  .absolute.t100vh.w-100
    = partial "partials/sections/trailer"
    = partial "partials/sections/about"
    = partial "partials/sections/details"
    = partial "partials/sections/schedule"
    = partial "partials/sections/tickets-divider"
    = partial "partials/sections/partners"
    / = partial "partials/sections/team"
    = partial "partials/footer"

= javascript_include_tag 'all.js'
